*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(5, 26, 31);
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-top: 50px;  
}

.image img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

.insta-name{
    position: absolute;
    top: 205px;
    text-decoration: none;
    font-size: 16px;
    color: #BB99DD;
}

.links-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    gap: 25px;
}

.links-area{
    width: 326px;
    height: 49px;
    border: 2px solid #BB99DD;
    border-radius: 4px;
}

.links{
    padding: 13px;
    display: flex;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    justify-content: center;
    color: #BB99DD;

}

.icons-container{
    display: flex;
    justify-content: center;
    align-items: center;  
    gap: 30px;
    margin-top: 35px;
}

i{
    font-size: 25px;
    color: #bb99dd;
}